<!DOCTYPE html>
<html>

<head>

    <% include layout/header %>

    <link rel="stylesheet" href="css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" href="css/plugins/switchery/switchery.css">
    <link rel="stylesheet" href="css/plugins/nouslider/jquery.nouislider.css">

</head>

<body class="">

<div id="wrapper">

    <% include layout/sidebar %>

    <div id="page-wrapper" class="gray-bg">

        <% include layout/navbar %>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Control Image</h2>
                <!--<ol class="breadcrumb">-->
                <!--<li>-->
                <!--<a href="index.html">This is</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                <!--<strong>Breadcrumb</strong>-->
                <!--</li>-->
                <!--</ol>-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Living Room</h5>

                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <!--<div class="carousel slide" id="carousel3">-->
                        <!--<div class="carousel-inner">-->
                        <div class="item gallery active left">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--<a href="control_panel/img1">-->
                                    <img id="imageMap" usemap="#Map" alt="image" width="100%" class="img-responsive"
                                         src="../img/rooms/room1.jpg">
                                    <!--</a>-->
                                    <map name="Map" id="Map">
                                        <area alt="bulb1" title="" shape="rect" coords="184,59,222,88"
                                              id="bulb1" data-toggle="modal" data-target="#myModal1" class="device"/>
                                        <area alt="bulb2" title="" shape="rect" coords="496,58,533,90"
                                              id="bulb2" data-toggle="modal" data-target="#myModal2" class="device"/>
                                        <area alt="bulb3" title="" shape="rect" coords="809,56,841,88"
                                              id="bulb3" data-toggle="modal" data-target="#myModal3" class="device"/>
                                        <area alt="bulb4" title="" shape="rect" coords="1089,56,1125,95"
                                              id="bulb4" data-toggle="modal" data-target="#myModal4" class="device"/>
                                        <area alt="bulb5" title="" shape="rect" coords="1404,59,1428,92"
                                              id="bulb5" data-toggle="modal" data-target="#myModal5" class="device"/>
                                        <area alt="tv1" title="" shape="rect" coords="862,487,1058,602"
                                              id="tv1" data-toggle="modal" data-target="#myModal6" class="device"/>
                                        <area alt="lamp1" title="" shape="rect" coords="542,604,600,636"
                                              id="lamp1" data-toggle="modal" data-target="#myModal7" class="device"/>
                                    </map>
                                </div>

                                <div class="modal inmodal fade" id="myModal1" tabindex="-1" role="dialog"
                                     aria-hidden="true" style="background-color: transparent; display: none;">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span><span
                                                            class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Lamp 1</h4>
                                                <small class="font-bold"></small>
                                            </div>
                                            <div class="modal-body">
                                                <div class="ibox" align="center">
                                                    <span style="font-weight: bold;">OFF</span>
                                                    <input type="checkbox" class="js-switch" checked=""
                                                           data-switchery="true" style="display: none;">
                                                    <span style="font-weight: bold;">ON</span>

                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal fade" id="myModal2" tabindex="-1" role="dialog"
                                     aria-hidden="true" style="background-color: transparent; display: none;">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span><span
                                                            class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Bulb2</h4>
                                                <small class="font-bold"></small>
                                            </div>
                                            <div class="modal-body">
                                                <div class="ibox" align="center">
                                                    <span style="font-weight: bold;">OFF</span>
                                                    <input type="checkbox" class="js-switch-2" checked=""
                                                           data-switchery="true" style="display: none;">
                                                    <span style="font-weight: bold;">ON</span>

                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal fade" id="myModal3" tabindex="-1" role="dialog"
                                     aria-hidden="true" style="background-color: transparent; display: none;">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span><span
                                                            class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Bulb3</h4>
                                                <small class="font-bold"></small>
                                            </div>
                                            <div class="modal-body">
                                                <div class="ibox" align="center">
                                                    <span style="font-weight: bold;">OFF</span>
                                                    <input type="checkbox" class="js-switch-3" checked=""
                                                           data-switchery="true" style="display: none;">
                                                    <span style="font-weight: bold;">ON</span>

                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal fade" id="myModal4" tabindex="-1" role="dialog"
                                     aria-hidden="true" style="background-color: transparent; display: none;">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span><span
                                                            class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Bulb4</h4>
                                                <small class="font-bold"></small>
                                            </div>
                                            <div class="modal-body">
                                                <div class="ibox" align="center">
                                                    <span style="font-weight: bold;">OFF</span>
                                                    <input type="checkbox" class="js-switch-4" checked=""
                                                           data-switchery="true" style="display: none;">
                                                    <span style="font-weight: bold;">ON</span>

                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"
                                     aria-hidden="true" style="background-color: transparent; display: none;">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span><span
                                                            class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Bulb5</h4>
                                                <small class="font-bold"></small>
                                            </div>
                                            <div class="modal-body">
                                                <div class="ibox" align="center">
                                                    <span style="font-weight: bold;">OFF</span>
                                                    <input type="checkbox" class="js-switch-5" checked=""
                                                           data-switchery="true" style="display: none;">
                                                    <span style="font-weight: bold;">ON</span>

                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--</div>-->
                                <!--</div>-->

                                <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"
                                     aria-hidden="true" style="background-color: transparent; display: none;">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span><span
                                                            class="sr-only">Close</span></button>
                                                <h4 class="modal-title">TV</h4>
                                                <small class="font-bold"></small>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group" align="center">
                                                    <img src="img/remote-control.jpg" alt="Remote Control" width="80%">
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal fade" id="myModal7" tabindex="-1" role="dialog"
                                     aria-hidden="true" style="background-color: transparent; display: none;">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                            aria-hidden="true">×</span><span
                                                            class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Lamp</h4>
                                                <small class="font-bold"></small>
                                            </div>
                                            <div class="modal-body">
                                                <div id="slider"></div>


                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--<a data-slide="prev" href="#carousel3" class="left carousel-control">-->
                            <!--<span class="icon-prev"></span>-->
                            <!--</a>-->
                            <!--<a data-slide="next" href="#carousel3" class="right carousel-control">-->
                            <!--<span class="icon-next"></span>-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include layout/footer %>

    </div>
</div>

<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<!--<script src="js/jquery-ui/jquery-ui.min.js"></script>-->

<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>
<script src="js/plugins/jsKnob/jquery.knob.js"></script>

<script src="js/plugins/switchery/switchery.js"></script>
<script src="js/plugins/nouslider/jquery.nouislider.min.js"></script>
<script src="js/imageMapResizer.min.js"></script>
<script>
    $(document).ready(function (e) {
        var elem = document.querySelector('.js-switch');
        var init = new Switchery(elem);

        var elem2 = document.querySelector('.js-switch-2');
        var init2 = new Switchery(elem2);

        var elem3 = document.querySelector('.js-switch-3');
        var init3 = new Switchery(elem3);

        var elem4 = document.querySelector('.js-switch-4');
        var init4 = new Switchery(elem4);

        var elem5 = document.querySelector('.js-switch-5');
        var init5 = new Switchery(elem5);

        /**
         *
         * */
        $("#slider").noUiSlider({
            start: 40,
            behaviour: 'tap',
            connect: 'lower',
            range: {
                'min': 20,
                'max': 80
            }
        });


        $('#Map').imageMapResize();

    });

    //    $('.device').hover(function(e){
    //        $(this).trigger('click').wait(1000);
    //    });


</script>
</body>

</html>
